html{
    background-color: crimson;
}
h1{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    border: solid 1px #c3c3c3;
    border-radius: 3px;
}

#panel {
   
    display: none;

}
#square{
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
    color:cornflowerblue;
    position: absolute;
}
button{
    margin: 10px;
}