html{
    background-color: aqua;


}
h1 {
    text-align: center;
    background-color: azure;
    font-family: Verdana;
}
p {
    text-align: center;
    background-color: azure;
    font-size: 30px;

}